::-webkit-scrollbar {
    width: 10px; 
  }
  

  ::-webkit-scrollbar-thumb {
    background: #198754; 
    border-radius: 10px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #198754 
  }
  

  ::-webkit-scrollbar-track:hover {
    background: #198754
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  