.navbar-collapse button {
  background-color: #198754 !important;
}

a {
  color: black;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;