/* :root {
  font-family: Inter, system-ui, roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}  */
.navbar-collapse button {
  background-color: #198754 !important;
}


a {
  color: black;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg1 {
  background-image: url('./assets/homepage/bg-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-bg2 {
  background-image: url('./assets/homepage/bg-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-bg3 {
  background-image: url('./assets/homepage/bg-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width:330px) {
  .home-bg3 {
    min-height: 1650px !important;
  }
}

.home-bg4 {
  background-image: url('./assets/homepage/bg-4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-bg5 {
  background-image: url('./assets/homepage/bg-5.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-bg6 {
  background-image: url('./assets/homepage/bg-6.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-bg7 {
  background-image: url('./assets/homepage/bg-7.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #ffa600;
}

/* All the snapping stuff */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* section {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-align: center;
} */

#loom-companion-mv3 {
  display: none;
}

.slick-prev:before, .slick-next:before {
  color: black !important;
  font-size: 28px !important;
}

.slick-next {
  right: -55px !important;
}

.slick-prev {
  left: -55px !important;
}

.slick-dots {
  bottom: -35px;
}

@media (max-width: 767px) {
  .slick-next,
  .slick-prev {
    display: none !important;
  }
}

/* .css-1jts3tn-MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: none !important;
} */