/* :root {
  font-family: Inter, system-ui, roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}  */

a {
  color: black;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;